---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Home from "../layouts/Home.astro";
import Try from "../layouts/try.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <Main>
    <hr />
    <Try />
    <About />
    <Projects />
  </Main>
</Layout>
