---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Try from "../layouts/try.astro";
import About from "../components/About.astro";
import Sample from "../components/Sample.astro";
---

<Layout>
  <Main>
    <Try />
    <About />
    <Sample />
  </Main>
</Layout>
