---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Home from "../layouts/Home.astro";
import Try from "../layouts/try.astro";
import Scroll from "../components/Scroll.astro";
import Another from "../components/Another.astro";
---

<Layout>
  <Main>
    <hr />
    <Try />
    <!--  <Scroll /> -->
  </Main>
</Layout>
