---

---

<div id="projects" class="">
  <div class="flex align-middle justify-center my-dark-gray-text">
    <h5 class="mb-12 text-2xl font-bold tracking-tight text-white">
      Deployed Projects
    </h5>
  </div>

  <div class="flex justify-between gap-5 lg:flex-row flex-col h-auto mb-12">
    <div class="rounded overflow-hidden shadow-lg w-auto h-auto">
      <a href="">
        <img
          class="w-full object-cover"
          src="/GameVault.png"
          alt="gamevault image"
        /></a
      >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">GameVault</div>
        <p class="text-gray-700 text-base mb-6">
          A comprehensive game hub allowing users to explore detailed game
          information. Built with the RAWG.io API, the platform offers advanced
          filtering options to sort games by various criteria.
        </p>
        <a href=""><i class="fa-brands fa-github text-3xl"></i> </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#61DBFB] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#React</span
        >
        <span
          class="inline-block bg-teal-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Chakra UI</span
        >
        <span
          class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Bootstrap</span
        >
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg w-auto h-auto">
      <a href="">
        <img
          class="w-full object-cover"
          src="/Portfolio.png"
          alt="Portfolio image"
        />
      </a>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Portfolio</div>
        <p class="text-gray-700 text-base mb-6">
          A sleek portfolio highlighting my current work, the tools I use for
          web development, recently deployed projects, and seamless access to my
          social media links.
        </p>
        <a href=""><i class="fa-brands fa-github text-3xl"></i> </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#F4911E] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Astro</span
        >
        <span
          class="inline-block bg-blue-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#tailwind</span
        >
        <span
          class="inline-block bg-yellow-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#javascript</span
        >
      </div>
    </div>
  </div>
  <div
    class="flex flex-wrap justify-between gap-5 lg:flex-row flex-col h-auto mb-12"
  >
    <div class="w-full lg:w-1/2">
      <div
        class="rounded overflow-hidden shadow-lg w-auto h-auto max-w-[630px]"
      >
        <a href="">
          <img
            class="w-full object-cover"
            src="/Airbnb.png"
            alt="Airbnb clone image"
          />
        </a>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Airbnb Clone</div>
          <p class="text-gray-700 text-base mb-6">
            A full-stack project that allows users to filter resorts based on
            prominent features and view details like price and location on an
            interactive map. The application uses GraphHopper's geocoding for
            location services and MongoDB Atlas for data storage. Users can log
            in, sign up, leave reviews, create listings, and owners can edit
            resort details.
          </p>
          <a href=""><i class="fa-brands fa-github text-3xl"></i> </a>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#Expessjs</span
          >
          <span
            class="inline-block bg-green-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#Nodejs</span
          >
          <span
            class="inline-block bg-lime-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#EJS</span
          >
          <span
            class="inline-block bg-green-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#MongoDB</span
          >
          <span
            class="inline-block bg-red-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#ORM</span
          >
          <span
            class="inline-block bg-yellow-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#javascript</span
          >
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2">
      <div
        class="rounded overflow-hidden shadow-lg w-auto h-auto max-w-[630px]"
      >
        <a href="https://memento-edd64.web.app/" target="_blank">
          <img
            class="w-full object-cover"
            src="/Memento.png"
            alt="Memory Game Image"
          /></a
        >
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Memory Game</div>
          <p class="text-gray-700 text-base mb-6">
            A sleek portfolio highlighting my current work, the tools I use for
            web development, recently deployed projects, and seamless access to
            my social media links.
          </p>
          <a href=""><i class="fa-brands fa-github text-3xl"></i> </a>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-[#61DBFB] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#React</span
          >
          <span
            class="inline-block bg-red-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#Firebase</span
          >

          <span
            class="inline-block bg-blue-800 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2"
            >#PWA</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#mini-project</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .my-dark-gray-text {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 10%, 1),
      hsla(0, 0%, 15%, 1),
      hsla(0, 0%, 20%, 1),
      hsla(0, 0%, 25%, 1),
      hsla(0, 0%, 30%, 1),
      hsla(0, 0%, 40%, 1)
    );
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: dark-gray-text-gradient 9s ease infinite;
  }

  @keyframes dark-gray-text-gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>
