---

---

<div id="projects" class="">
  <div class="flex align-middle justify-center my-dark-gray-text">
    <h5 class="mb-8 text-2xl font-bold tracking-tight text-white">
      Deployed Projects
    </h5>
  </div>

  <div class="flex justify-between gap-3 lg:flex-row flex-col h-auto">
    <div class="rounded overflow-hidden shadow-lg w-auto h-auto">
      <img
        class="w-full object-cover"
        src="/GameVault.png"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">GameVault</div>
        <p class="text-gray-700 text-base mb-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
        <a href=""><i class="fa-brands fa-github text-3xl"></i> </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#61DBFB] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#React</span
        >
        <span
          class="inline-block bg-teal-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Chakra UI</span
        >
        <span
          class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Bootstrap</span
        >
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg w-auto h-auto">
      <img
        class="w-full object-cover"
        src="/Portfolio.png"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Portfolio</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#F4911E] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Astro</span
        >
        <span
          class="inline-block bg-blue-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#tailwind</span
        >
      </div>
    </div>
  </div>
</div>
<style>
  .my-dark-gray-text {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 10%, 1),
      hsla(0, 0%, 15%, 1),
      hsla(0, 0%, 20%, 1),
      hsla(0, 0%, 25%, 1),
      hsla(0, 0%, 30%, 1)
    );
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: dark-gray-text-gradient 9s ease infinite;
  }

  @keyframes dark-gray-text-gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>
