---

---

<div class="container mx-auto py-8" id="projects">
  <div class="flex align-middle justify-center my-dark-gray-text">
    <h5 class="mb-12 text-2xl font-bold tracking-tight text-white">
      Deployed Projects
    </h5>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="rounded overflow-hidden shadow-lg">
      <a href="https://game-vault-jet.vercel.app/" target="_blank">
        <img class="w-full" src="/GameVault.png" alt="gamevault image" /></a
      >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 my-dark-gray-text">GameVault</div>
        <p class="text-gray-700 text-base mb-6">
          A comprehensive game hub allowing users to explore detailed game
          information. Built with the RAWG.io API, the platform offers advanced
          filtering options to sort games by various criteria.
        </p>
        <a href="https://github.com/07ronak/Game-Vault" target="_blank"
          ><i class="fa-brands fa-github text-3xl"></i>
        </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#61DBFB] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#React</span
        >
        <span
          class="inline-block bg-teal-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Chakra UI</span
        >
        <span
          class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Bootstrap</span
        >
      </div>
    </div>
    <div class="rounded overflow-hidden shadow-lg">
      <a href="" target="_blank">
        <img
          class="w-full"
          src="/Portfolio.png"
          alt="Sunset in the mountains"
        /></a
      >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 my-dark-gray-text">
          Portfolio Page
        </div>
        <p class="text-gray-700 text-base mb-6">
          A sleek portfolio highlighting my current work, the tools I use for
          web development, recently deployed projects, and seamless access to my
          social media links.
        </p>
        <a href="https://github.com/07ronak/Portfolio" target="_blank"
          ><i class="fa-brands fa-github text-3xl"></i>
        </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#F4911E] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Astro</span
        >
        <span
          class="inline-block bg-blue-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#tailwind</span
        >
        <span
          class="inline-block bg-yellow-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#javascript</span
        >
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <a
        href="https://airbnb-clone-1-za17.onrender.com/listing"
        target="_blank"
      >
        <img class="w-full" src="/Airbnb.png" alt="Airbnb clone image" /></a
      >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 my-dark-gray-text">Airbnb Clone</div>
        <p class="text-gray-700 text-base mb-6">
          A full-stack project that allows users to filter resorts based on
          prominent features and view details like price and location on an
          interactive map. It uses GraphHopper's geocoding for location services
          and MongoDB Atlas for data storage. Users can log in, sign up, leave
          reviews or create one. Owners can delete one or edit details.
        </p>
        <a href="https://github.com/07ronak/AirBNB-Clone" target="_blank"
          ><i class="fa-brands fa-github text-3xl"></i>
        </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Expessjs</span
        >
        <span
          class="inline-block bg-green-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Nodejs</span
        >
        <span
          class="inline-block bg-lime-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#EJS</span
        >
        <span
          class="inline-block bg-green-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#MongoDB</span
        >
        <span
          class="inline-block bg-red-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#ORM</span
        >
        <span
          class="inline-block bg-yellow-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#javascript</span
        >
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <a href="https://memento-edd64.web.app/" target="_blank">
        <img class="w-full" src="/Memento.png" alt="Memory Game image" /></a
      >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 my-dark-gray-text">Memory Game</div>
        <p class="text-gray-700 text-base mb-6">
          This game features 16 upside-down cards that players need to match
          into 8 pairs to win. Designed as a Progressive Web App (PWA), it
          offers offline functionality and is deployed on Firebase for seamless
          access and performance.
        </p>

        <a
          class="ml-auto"
          href="https://github.com/07ronak/MemoryGame1"
          target="_blank"
          ><i class="fa-brands fa-github text-3xl"></i>
        </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-[#61DBFB] rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#React</span
        >
        <span
          class="inline-block bg-red-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Firebase</span
        >

        <span
          class="inline-block bg-blue-800 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2"
          >#PWA</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#mini-project</span
        >
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <a href="https://simon-says-game-ecru-alpha.vercel.app/" target="_blank">
        <img
          class="w-full object-fill"
          src="/Simon.png"
          alt="simon game image"
        /></a
      >
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 my-dark-gray-text">
          Simon Says Game
        </div>
        <p class="text-gray-700 text-base mb-6">
          After the game starts, a random card flashes, and you need to repeat
          the sequence shown. With each new card, the sequence gets longer, and
          you must remember all the previous cards plus the new one.
        </p>
        <a href="https://github.com/07ronak/Simon-Says-Game" target="_blank"
          ><i class="fa-brands fa-github text-3xl"></i>
        </a>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-yellow-300 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#javascript</span
        >

        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#mini-project</span
        >
      </div>
    </div>
  </div>
</div>
<style>
  .my-dark-gray-text {
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 10%, 1),
      hsla(0, 0%, 15%, 1),
      hsla(0, 0%, 20%, 1),
      hsla(0, 0%, 25%, 1),
      hsla(0, 0%, 30%, 1),
      hsla(0, 0%, 40%, 1)
    );
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: dark-gray-text-gradient 9s ease infinite;
  }

  @keyframes dark-gray-text-gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>
