---

---

<div class="flex justify-between items-center mx-14 mt-36">
  <div class="space-y-8">
    <div class="font-sans text-[22px] leading-[30px] font-bold text-black">
      Ronak Hingonia, <br />
      full stack developer at <a href="#">
        <span class="company">. . . :)</span>
      </a>
    </div>
    <div class="space-x-3">
      <a
        href="#"
        class="font-sans text-lg text-black text-opacity-70 opacity-70">Email</a
      >
      <a
        href="#"
        class="font-sans text-lg text-black text-opacity-70 opacity-70"
        >Github</a
      >
      <a
        href="#"
        class="font-sans text-lg text-black text-opacity-70 opacity-70"
        >Linkedin</a
      >
      <a
        href="#"
        class="font-sans text-lg text-black text-opacity-70 opacity-70"
        >Twitter</a
      >
    </div>
  </div>
  <div class="ml-auto">
    <img src="/z11.jpg" alt="" class="ronak" />
  </div>
</div>

<style>
  .company {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(214deg, #ff285c, #b010fb);

    font-size: 22px;
  }
  .ronak {
    width: 30rem;
    height: auto;
    clip-path: circle();
  }
</style>
